extends layout

block content
  nav
    ul
      li#logo: a(href=""): img(src="/img/KnoblochLogo.png" alt='Knobloch Plumbing Inc Logo')
      li: a(href="#services") Services
      li: a(href="#whyus") Why Us?
      li: a(href="#about") About
      li: a(href="#contact") Contact
      li: a(href='tel:1-815-219-8970')#phone +1 815 219 8970

    #cheat
      i.ion-chevron-right

  .main
    #landing
      img(src='/img/KnoblochLogo.png' alt='Knobloch Plumbing Inc Logo').header

    #services
      #services-gutter
        #header
          h1 Our Services
        #info
          h3 We got the elbow grease to help you out!
          #line
          p A local family owned and operated company providing plumbing services since 2008. We get the job done swiftly with no hassle. Arriving quickly, using quality materials and workmanship, giving you 100% satisfaction that's guaranteed.
      ul#servicelist
        li
          i.ion-videocamera
          p.name Sewer Video Inspection
          p.info Clogged or backed up piping? We can see what's the issue without digging up your yard or the street!
        li
          i.ion-settings
          p.name Sewer & Water Repair
          p.info Water lines acting up and need to be repaired? How about sewer damage? We can handle it for you!
        li
          i.ion-hammer
          p.name New Construction
          p.info Building a house or need help installing? We can do it!
        li
          i.ion-home
          p.name Remodeling
          p.info Redoing the bathroom, kitchen sink, or just need new pipes installed? We can help out!
        li
          i.ion-briefcase
          p.name Commercial
          p.info Installation and repair at any gas station, grocery store, school or at your business!
        li
          i.ion-ios7-telephone
          p.name Service Calls
          p.info From dripping faucets to broken sump or ejector pumps, we can fix it!


    #about
      img(src='')
      p
        Lorem ipsum dolor sit amet, erant impetus tibique sed ut. Duo cu assum admodum, et choro noster mea. Et veniam omnesque salutatus pri, in platonem similique eam. His ea stet aperiri perpetua, te graeco abhorreant sea. Alia veritus urbanitas id per. No primis voluptatum sea, usu alterum suavitate intellegat ea.

        Conceptam contentiones no ius, iisque verterem honestatis ut vim. Cum stet elit choro ex, choro accusam conclusionemque sit at. Pro scripta pertinacia adipiscing at. Per ut nullam adipiscing, prima vituperata ei eam.

        Duo an tale ferri voluptatibus, mea in legendos efficiendi. Omnis oratio sit no, ne eum unum philosophia, eam vocent sanctus perfecto ad. Ut usu solum illum detraxit, nemore vocibus moderatius ea vix, melius nostrud singulis cu mel. Tale erat argumentum ad per, mucius partiendo ad per, has ne hinc feugait intellegat. Mei ei habeo omittantur definitionem, veniam perfecto cu pro.

        Duo ei expetenda intellegat. An nulla similique persequeris mei, habeo erroribus reprehendunt ea pri. Graeci quaestio incorrupte id qui. Congue noluisse vim ex, ex his alterum dissentiet. Ex timeam fastidii pericula eum, hinc purto fastidii ut qui, soleat consequat per te. Has eu agam tacimates.

    #whyus
      #header
        h1.header Why Us?

      p
        Lorem ipsum dolor sit amet, erant impetus tibique sed ut. Duo cu assum admodum, et choro noster mea. Et veniam omnesque salutatus pri, in platonem similique eam. His ea stet aperiri perpetua, te graeco abhorreant sea. Alia veritus urbanitas id per. No primis voluptatum sea, usu alterum suavitate intellegat ea.

        Conceptam contentiones no ius, iisque verterem honestatis ut vim. Cum stet elit choro ex, choro accusam conclusionemque sit at. Pro scripta pertinacia adipiscing at. Per ut nullam adipiscing, prima vituperata ei eam.

        Duo an tale ferri voluptatibus, mea in legendos efficiendi. Omnis oratio sit no, ne eum unum philosophia, eam vocent sanctus perfecto ad. Ut usu solum illum detraxit, nemore vocibus moderatius ea vix, melius nostrud singulis cu mel. Tale erat argumentum ad per, mucius partiendo ad per, has ne hinc feugait intellegat. Mei ei habeo omittantur definitionem, veniam perfecto cu pro.

        Duo ei expetenda intellegat. An nulla similique persequeris mei, habeo erroribus reprehendunt ea pri. Graeci quaestio incorrupte id qui. Congue noluisse vim ex, ex his alterum dissentiet. Ex timeam fastidii pericula eum, hinc purto fastidii ut qui, soleat consequat per te. Has eu agam tacimates.

    #satisfaction
      h1.header 100% Satisfaction Guaranteed

  #contact
    .logo
      a(href='#')
        img(src='/img/KnoblochLogoWhite.png' alt='Knobloch Plumbing Inc Logo')
    #info
      .location
        i.ion-location
        span Marengo, IL
      a(href='tel:1-815-219-8970') +1 815 219 8970
      p license: 058-177908

  #copyright
    p © 2014 Knobloch Plumbing Incorporated · All rights reserved.
