doctype
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Knobloch Plumbing Incorporated')
    meta(name='author', content= "Knobloch Plumbing Inc.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Knobloch Plumbing Inc."
    link(rel='stylesheet', href='css/master.css')
  body
    block content
