*
  margin 0
  padding 0
  box-sizing border-box
  transition all .25s ease-out 0

body 
  font-family font-stack
  font-weight 400
  font-size 16px
  center(100%)

.main
  width 100%
  background-color white

#copyright
  position relative
  display block
  padding .5em
  width 100%
  border-top 1px solid #76767b
  text-align center
  background-color #28282e
  color #76767b
  font-size .85em

