#landing
  position relative
  height 35em
  width 100%
  background url('/img/background2.jpg') center center no-repeat
  background-size cover
  text-align center

  .header
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    max-width 450px
    max-height 175px
    background-color white
    margin auto
    padding .75em 1em .75em 1em

    +below(500px)
      width 100%

    +below(400px)
      border-top 2px solid grey
      margin 0

  +below(650px)
    background-position right

  +below(400px)
    height 25em
