#satisfaction
  position relative
  height 20em
  width 100%
  background url('/img/drain-black.JPG') center center no-repeat
  background-size cover
  text-align center

  .header
    position relative
    font-size 4em
    font-weight 700
    height 100%                    
    width 100%
    margin auto
    padding-top 2em
    top 0
    left 0
    bottom 0
    right 0

    +below(900px)
      font-size 2.5em
      padding-top 3.5em

    +below(550px)
      padding-top 3em
