
@import url('http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css')
@import url('http://fonts.googleapis.com/css?family=Roboto:400,700')
@import url('http://fonts.googleapis.com/css?family=Rokkitt:700')
@import 'jeet'

// default font stack
font-stack = 'Roboto', sans-serif
font-size = 16
font-color = #333

// colors (via http://clrs.cc - slightly modded)
red = #e74c3c
dark-red = #c0392b
maroon = #900000
blue = #3498db
dark-blue =#2980b9
green = #2ecc71
dark-green = #27ae60
purple = #9b59b6
dark-purple = #8e44ad
orange = #e67e22
dark-orange = #d35400
asphalt = #34495e
black = #000
light-gray = #95a5a6
gray = #76767b
dark-gray = #28282e
silver = #bdc3c7
clouds = #ecf0f1
white = #fff

// default color
default-color = blue

// text highlight color
highlight-color = blue

headers()
text-margin()
p()

h1, h2, h3, h4, h5
  font-family 'Rokkitt', serif
  font-weight Bold
  color white
