#whyus
  display none
  position relative
  height 40em
  width 100%

  #header
    background url('/img/manwhole-black.JPG') center center fixed no-repeat
    background-size cover

    .header
      background-color white
      width 450px
      height 175px
      margin auto
      padding .75em 1em .75em 1em
      position absolute
      top 0
      left 0
      bottom 0
      right 0 
